numpy==1.18.5
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
mediapipe==0.9.0.1
tensorflow==2.3.1
Keras==2.4.3
Levenshtein==0.21.1
requests==2.24.0
Flask==1.1.2
Werkzeug==1.0.1
Flask-Cors==4.0.0
pandas==1.1.4
Jinja2==2.11.2